@import 'mixins.scss';
@import 'vendor/bootstrap/variables.scss';

/* general */
body {
    background: url(../images/bg.jpg) no-repeat;
    @include image-2x("../images/bg@2x.jpg", 100%, 840px);
}
.controls {
    text-align: right;
    margin-bottom: 1rem;
}

/* header */
.navbar {
    background-color: $gray-dark;
    border-radius: 0;
    margin-bottom: 1rem;

    .nav-item.active a {
        color: $gray-lightest;
    }
}

/* services */
.service {
    .card {
        background-color: $gray-lightest;
    }

    h4 {
        text-transform: capitalize;
        text-align: center;
    }
}