@import 'mixins.scss';
@import 'vendor/bootstrap/variables.scss';

/* general */
body {
    background: url(../images/bg.jpg) no-repeat;
    @include image-2x("../images/bg@2x.jpg", 100%, 840px);
}
.controls {
    text-align: right;
    margin-bottom: 1rem;
}
.container.content {
    padding-top: 1rem;
    padding-bottom: 5px;
    background-color: rgba(253, 235, 202, 0.5);
    min-height: 100%;
    border-radius: 0 0 1rem 1rem;
}

/* header */
.navbar {
    background-color: $gray-dark;
    border-radius: 0;

    .nav-item.active a {
        color: $gray-lightest;
    }
}

/* services */
.service {
    .card {
        background-color: $gray-lightest;
    }

    h4 {
        text-transform: capitalize;
        text-align: center;
    }
}